<ion-view title="Login">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form name="loginForm" ng-submit="login()" novalidate>
      <div class="list">
        <h3 class="greeter">Welcome to InstaLunchline!</h3>
        <label class="item item-input">
          <i class="icon ion-email placeholder-icon"></i>
          <span class="input-label">Email</span>
          <input ng-model="user.email" name="email" type="email" placeholder="example@email.com" autofocus required>
        </label>
        <label class="item item-input">
          <i class="icon ion-key placeholder-icon"></i>
          <span class="input-label">Password</span>
          <input ng-model="user.password" name="password" type="password" placeholder="" autofocus required>
        </label>
      </div>
      <div class="padding">
        <button class="button button-positive button-block" ng-disabled="loginForm.$invalid">Log in</button>
        <button class="button button-positive button-block" ng-click="fbLogin()"><i class="icon ion-social-facebook"></i> Log in with Facebook</button>
        <button ui-sref="menu.signup" class="button button-positive button-clear button-block">Or create an account</button>
      </div>
    </form>
    <div class="error">
      <span ng-if="error">
        {{ error }}
      </span>
    <div>
  </ion-content>
</ion-view>
